
/*
==============================================================
================================================ Generalidades
==============================================================
*/
body{
	margin-top: 25px;
}
.clear{ float: none; clear: both; }
.bold{ font-weight: bold; }
.txt_right{ text-align: right; }
/*
==============================================================
======================================================= Header
==============================================================
*/
#logo{
	width: 120px; height: 120px;
}
#cont_buscador, #cont_login{
	margin-top: 30px;
}
#txt_buscar{
	width: 80%;
	float: left;
}
.txt_right{
	text-align: right;
}
.txt_left{
	text-align: left;
}
.txt_center{
	text-align: center;
}
/*
==============================================================
======================================================= Slider
==============================================================
*/
#slider{
	margin-top: 25px;
	height: 450px;
	background-color: #666;
	display: block;
}
.my-slider{
	display: block;
	height: 450px;
	overflow: hidden;
	position: relative;
}
.my-slider .titulo{
	text-shadow: 1px 1px #FFF;
	position: absolute;
	margin-top: 280px;
	margin-bottom: 100px;
	font-size: 50px;
	color: orange;
	display: block;
	z-index: 100;
}
#division_slider{
	margin-bottom: 140px;
}
.my-slider img {
	max-height: 100%;
	width: 100%;
	z-index: -100;
}
.unslider-arrow {
    margin-top: -250px;
}
.unslider-nav{
	display: none;
}
/*
==============================================================
==================================================== Contenido
==============================================================
*/
#cont_contenido{
	margin-top: 25px;
	margin-bottom: 25px;
}
.grid-item {
	background-color: #FFF;
	border: 1px;
	border-style: solid;
	border-color: #AAA;
	margin: 7px;
	padding: 12px; 
	border-radius: 15px;
	max-width: 269px;
}
.cont_caratula{
	margin-right: 7px;
	margin-bottom: 7px;
	width: 185px;
	border-radius: 10px;
	overflow: hidden;
	float: left;
}
.cont_caratula img{
	float: left;
}
.grid-item .ranking{
	width: 51px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    color: #FFF;
    background-color: #333;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 6px;
}
.grid-item h3{
	margin-top: 7px;
	clear: both;
}
.detalle, .min_critica, .max_critica p{
	width: 240px;
	font-size: 12px;
	display: block;
}
.detalle{
	border-top: dashed 1px #AAA;
	border-bottom: dashed 1px #AAA;
	margin-top: 7px;
	margin-bottom: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}
}
.min_critica{
	margin-top: 7px;
	padding-top: 7px;
}
.max_critica p{

	display: none;
}
.leer_mas {
	width: 100%;
	margin-top: 7px;
}
/*
==============================================================
======================================================= Footer
==============================================================
*/
#footer{
	background-color: #333;
	height: 150px;
	color: #666;
	padding-top: 25px;
	padding-bottom: 25px;
}