
/*
==============================================================
================================================ Generalidades
==============================================================
*/
body{
	margin-top: 25px;
}
.clear{float: none; clear: both;}


/*
==============================================================
======================================================= Header
==============================================================
*/
#logo{
	width: 120px; height: 120px;
}
#cont_buscador, #cont_login{
	margin-top: 30px;
}
#txt_buscar{
	width: 80%;
	float: left;
}
.txt_right{
	text-align: right;
}
.txt_left{
	text-align: left;
}
/*
==============================================================
======================================================= Slider
==============================================================
*/
#slider{
	margin-top: 25px;
	height: 450px;
	background-color: #666;
	display: block;
}
.my-slider{
	display: block;
	height: 450px;
	overflow: hidden;
	position: relative;
}
.my-slider .titulo{
	text-shadow: 1px 1px #FFF;
	position: absolute;
	margin-top: 280px;
	margin-bottom: 100px;
	font-size: 50px;
	color: orange;
	display: block;
	z-index: 100;
}
#division_slider{
	margin-bottom: 140px;
}
.my-slider img {
	max-height: 100%;
	width: 100%;
	z-index: -100;
}
.unslider-arrow {
    margin-top: -250px;
}
.unslider-nav{
	display: none;
}
/*
==============================================================
==================================================== Contenido
==============================================================
*/
#cont_contenido{
	margin-top: 25px;
	margin-bottom: 25px;
}
.grid-item { 
	max-width: 250px;
	background-color: #FFF;
	border: 1px;
	border-style: solid;
	border-color: #AAA;
	margin: 7px;
	padding: 12px; 
	border-radius: 15px;
}
.cont_caratula{
	border-radius: 10px;
	overflow: hidden;
}
.cont_caratula img{
	width: 185px;
}
/*
==============================================================
======================================================= Footer
==============================================================
*/
#footer{
	background-color: #333;
	height: 150px;
	color: #666;
	padding-top: 25px;
	padding-bottom: 25px;
}